<!DOCTYPE html>
<html>

<head>
    <title>Express and MongoDB</title>
</head>

<body>
    <div class="titleContainer"></div>
    <div class="contentContainer">
        <h1>AWK, the monkey is in the B-patch</h1>
        <div class="form formContainer" id="formContainer">
            <input type="text" class="form formElements formInput" id="title" placeholder="Title">
            <textarea rows="6" columns="70" class="form formElements formInput" id="body" placeholder="Post"></textarea>
            <button class="form formElements formButton" id="form1Button">Submit This Form!</button>
        </div>
    </div>
    <div class="footerContainer"></div>
</body>

</html>